html {
    background-blend-mode:overlay;
    display:flex;
    align-items:center;
    justify-content:center;
    background: #214c84 no-repeat;
    background-size:cover;
    height:100%;
}

body {
    background-color:transparent;
}

form.form-group {
    display: table;
}

div.form-group {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

/*.register {*/
    /*!*padding:50px 0;*!*/
/*}*/

/*.register form {*/
    /*max-width:800px;*/
    /*!*padding:50px 70px;*!*/
    /*!*border-radius:10px;*!*/
    /*!*box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);*!*/
    /*background-color:#fff;*/
/*}*/

/*.register form h3 {*/
    /*font-weight:bold;*/
    /*!*margin-bottom:30px;*!*/
/*}*/

/*.register .item {*/
    /*!*border-radius:10px;*!*/
    /*!*margin-bottom:25px;*!*/
    /*!*padding:10px 20px;*!*/
/*}*/

/*.register .sign-upForm {*/
    /*!*border-radius:30px;*!*/
    /*!*padding:10px 20px;*!*/
    /*font-size:18px;*/
    /*font-weight:bold;*/
    /*background-color:#3f93ff;*/
    /*border:none;*/
    /*color:white;*/
    /*margin-top:20px;*/
/*}*/

/*@media (max-width: 576px) {*/
    /*.register form {*/
        /*!*padding:50px 20px;*!*/
    /*}*/
/*}*/
